#region https://github.com/xmake-io/xmake/blob/master/tests/projects/package/conan/.gitignore
# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store
#endregion

#region https://github.com/github/gitignore/blob/main/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
#endregion
