# This allows ONLY the e2e.gif to be committed
test/__snapshot__/*
!test/__snapshot__/e2e.gif
# xmake cache
.xmake
# This allows ONLY the build/packages folder to be committed
build
!/build
build/*
!/build/packages

#region https://github.com/github/gitignore/blob/main/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
#endregion
